#!/usr/bin/env python

config = {
    'email': 'XXXXXXX@gmail.com',
    'password': 'XXXXXXX',
    'label': 'DailyTodo',
    'template_title': 'TODO Template',
    'today_title_format': '%A, %d %B %Y',
    'lang': 'pl_PL.utf-8',
}

